<!--
  Generated template for the AssessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Assess</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div id="prepare" class="d-flex align-items-center full-screen">
	    <div class="container-fluid col-md-4 p-2" text-center>
	    	<div class="page-header-wrapper">
	    		<h1 class="font-weight-bold">
	    		    Assess Yourself.
	    		</h1>
	    		<p>
	    			Take assessment quizes below to know if you're disaster-ready.
	    		</p>
	    	</div>
	    	<ion-grid>
	    		<ion-row class="ribbon-container">
	    			<ion-col>
	    				<div class="text-center">
	    					<ion-icon name="ribbon"></ion-icon>
	    				</div>
	    			</ion-col>
	    			<ion-col>
	    				<div class="text-center">
	    					<ion-icon name="ribbon"></ion-icon>
	    				</div>
	    			</ion-col>
	    			<ion-col>
	    				<div class="text-center">
	    					<ion-icon name="ribbon"></ion-icon>
	    				</div>
	    			</ion-col>
	    		</ion-row>
	    	</ion-grid>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="checkmark"></ion-icon><br>
	    			<label class="font-weight-bold">Essentials Quiz:</label>
	    			<p>Quiz about the essentials for disaster.</p>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="checkmark"></ion-icon><br>
	    			<label class="font-weight-bold">Essentials Quiz:</label>
	    			<p>Quiz about the essentials for disaster.</p>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="flame"></ion-icon><br>
	    			<label class="font-weight-bold">Fire Quiz:</label>
	    			<p>Quiz about the essentials for fire outbreaks.</p>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="alert"></ion-icon><br>
	    			<label class="font-weight-bold">Typhoon Quiz:</label>
	    			<p>Quiz about the essentials for when typhoon strikes.</p>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="alert"></ion-icon><br>
	    			<label class="font-weight-bold">Earhquake Quiz:</label>
	    			<p>Quiz about the essentials when earhquake shakes your area.</p>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="alert"></ion-icon><br>
	    			<label class="font-weight-bold">Volcano Eruption Quiz:</label>
	    			<p>Quiz about the essentials for when a volcano near you erupts.</p>
	    		</div>
	    	</button>
	    </div>
	</div>
</ion-content>
