page-assess {
	.ribbon-container{
		.icon{
			font-size: 50px;
		}
	}
	
	.button{
		height: 100px;
		border-width: 2px;
		p{
			text-transform: none;
			font-size:14px;
		}
	}
	.icon{
		font-size: 46px;
	}
}
