<ion-content>  
    <div id="home-page" class="d-flex align-items-center full-screen">
        <div class="container-fluid col-md-4 p-2" text-center>
            <h1 class="font-weight-bold pb-5">
                HAZARD
            </h1>

            <button ion-button outline block color="light" (click)="openPreparePage()">Prepare</button>
            <button ion-button outline block color="light" (click)="openAssessPage()">Assess</button>
            <button ion-button outline block color="light" (click)="openLocatePage()">Locate</button>
            <button ion-button outline block color="light" (click)="openContactPage()">Contact</button>
        </div>
    </div>
</ion-content>
