<!--
  Generated template for the LocatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Locate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div id="" class="d-flex align-items-center full-screen">
	    <div class="container-fluid col-md-4 p-2" text-center>
	    	<div class="page-header-wrapper">
	    	<h1 class="font-weight-bold">
	    	    Locate Necessary Areas
	    	</h1>
	    	<p>
	    		Know where to go when disaster strikes.
	    	</p>
	    	</div>
		</div>
		
	</div>

	<div #map id="map">
		
	</div>
</ion-content>
