<!--
  Generated template for the PreparePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Prepare</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div id="prepare" class="d-flex align-items-center full-screen">
	    <div class="container-fluid col-md-4 p-2" text-center>
	    	<div class="page-header-wrapper">
	    		<h1 class="font-weight-bold">
	    		    Prepare Yourself
	    		</h1>
	    		<p>
	    			Educate yourself with essential information during calamities.
	    		</p>
	    	</div>
	    	<button ion-button outline block color="dark" >
	    		<div>
	    			<ion-icon name="checkmark"></ion-icon><br>
	    			<label class="font-weight-bold">Essentials</label>
	    		</div>
	    	</button>
	        <button ion-button outline block color="dark" >
	        	<div>
	        		<ion-icon name="flame"></ion-icon><br>
	        		<label class="font-weight-bold">Fire</label>
	        	</div>
	        </button>
	        <button ion-button outline block color="dark" >
	        	<div>
	        		<ion-icon name="alert"></ion-icon><br>
	        		<label class="font-weight-bold">Volcano Eruptions</label>
	        	</div>
	        </button>
	        <button ion-button outline block color="dark" >
	        	<div>
	        		<ion-icon name="alert"></ion-icon><br>
	        		<label class="font-weight-bold">Tsunami</label>
	        	</div>
	        </button>
	        <button ion-button outline block color="dark" >
	        	<div>
	        		<ion-icon name="alert"></ion-icon><br>
	        		<label class="font-weight-bold">Typhoons</label>
	        	</div>
	        </button>
	        <button ion-button outline block color="dark" >
	        	<div>
	        		<ion-icon name="alert"></ion-icon><br>
	        		<label class="font-weight-bold">Earthquakes</label>
	        	</div>
	        </button>
	    </div>
	</div>
</ion-content>
